<ion-header>
  <ion-toolbar color= "primary">
    <ion-title text-center>
      Sonidos  App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-refresher (ionRefresh)="doRefresh( $event );">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      

  <ion-list reorder ="true" (ionItemReorder)="reordenar_animales( $event )">
    <ion-item-sliding button *ngFor="let animal of animales; let i = index">

    <ion-item  (click)="reproducir( animal )">

      

      <ion-label>

        <ion-avatar aling-items-right>

          <img [src]="animal.imagen">

        </ion-avatar>
      
      </ion-label>

      <ion-label>

        <h2>{{ animal.nombre }}</h2>

      </ion-label>
    
        
        <ion-icon *ngIf="!animal.reproducir" name="play" item-right></ion-icon>
        <ion-icon *ngIf="animal.reproducir" name="pause" item-right></ion-icon>
      
    

    </ion-item>

      <ion-item-options right>
        <button ion-button-color="danger"
          (click)="borrar_animal(  )">

          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding> 
    
  </ion-list>
  
</ion-content>
